.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 8;
  width: 640;
  height: 480;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.object-titles{
  margin-bottom: 35%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 664px) {
  .object-titles{
    margin-bottom: 80%;
  }
}
@media screen and (max-width: 664px) {
  .canvas {
    width: 400px !important;
    height: 280px !important;
  }
  video {
    width: 400px !important;
    height: 280px !important;
  }
  .object-titles-1 {
    font-size: 15px;
  }
  .object-titles-2 {
    font-size: 13px;
  }
  .object-titles-3 {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  video {
    width: 300px !important;
    height: 200px !important;
  }
  .object-titles-1 {
    font-size: 9px;
  }
  .object-titles-2 {
    font-size: 7px;
  }
  .object-titles-3 {
    font-size: 7px;
  }
}
@media screen and (max-width: 390px) {
  video {
    width: 300px !important;
    height: 200px !important;
  }
  .object-titles-1 {
    font-size: 9px;
  }
  .object-titles-2 {
    font-size: 7px;
  }
  .object-titles-3 {
    font-size: 7px;
  }
}
